[Unit]
Description=Seal Lock Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/bin/seald
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
